<h3>AngularJS</h3>

<% for(var slug in public.angularjs._data){ %>
  <h2>
      <a href="/posts/<%= slug %>">
          <%= public.angularjs._data[slug].title %>
      </a>
  </h2>
  <%- partial("posts/" + slug) %>
<% }; %>
