<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <%- partial("_partials/header") %>
    <%- yield %>
    <div id="footer">
      <p>Copyright © foobar</p>
    </div>
  </body>
</html>
